.Banner_container{
    width: 100%;
    overflow: hidden;
    position:relative;
    
}

.banner_img_container:focus-visible{
    outline: none;
}
.banner_img_container img{
 
    border-radius: 17px;
}
/* .slick-arrow{
    
     z-index: 10; 
}
.slick-prev {
    left: 6%;
}
.slick-next {
    right: 6%;
} */

@media (min-width: 420px) and (max-width: 600px) {
    .banner_contianer_for_margin {
        margin-bottom: 2rem;
    }
}