#footer_section{
    width: 100%;
    max-width: 1920px;
    background-color: rgb(12,15,18);
    color: white;
    padding-bottom: 7rem;
}
.footer_content_container{
    width: 90%;
    margin: auto;
}
.footer_top_content{
    border: 1px solid #ffffff47;
    padding: 30px 0 0 35px;
    border-radius: 10px;
}
.para{
    display: flex;
    flex-direction: column;
    gap: .3rem;
    margin-bottom: 1.5rem;
    width: 85%;
    text-align: justify;

}
.para h2{
    color: rgba(255,255,255);
    font-weight: 500;
    
}
.para p{
    color: rgba(247,245,245, .7);
    font-weight: 500;
    
}
.app_container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: rgb(33,37,45);
    margin-top: 3rem;
    border-radius: 7px;
    margin-bottom: 1rem;
}
.footer_right_content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.left_img_container img {
    width: 70px;
    border-radius: 50%;
}
.txt_container {
    line-height: 1.6;
}
.right_img_contianer {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.social_link-privacy_policy{
    text-transform: uppercase;
}
.social_links_container {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}
.top_line, .bottom_line{
    border-top: 1px solid #80808087;

}
.left {
    display: flex;
    gap:  1rem;
    padding: 1.5rem 0;
    align-items: center;

}
.vrLine{
    border: 1px solid rgb(96, 89, 89);
    height: 10px;
}
.f_link{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
.right {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.f-social svg {
    width: 23px;
    height: 23px;
}
@media only screen and (max-width: 600px) {
    .footer_top_content{
        padding: 30px 0 0 9px;
    }
    .para{
        width: 95%;
        font-size: 14px;
    }
    .app_container{
        flex-direction: column;
        gap: 3rem;
    }
    .txt_container {
        line-height: 1.5;
    }
    .txt_container h3 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0.4rem;
    }
    .txt_container p {
        font-size: 14px;
        font-weight: 300;
    }
    .social_links_container {
        flex-direction: column;
    }
    .music_playing_controler {
        width: 100%!important;
    }
    .audio-player audio {
        width: 45vw!important;
    }
    .thumbnail_title_container {
        gap: 1rem;
    }
}