.header{
    width: 100%;
    background-color: rgb(27,27,27);
    max-width: 1920px;
    padding: 15px 0  0;
    /* position: relative; */
    margin: auto;

}

.header_items_container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center; 
    margin-bottom: 15px;
    /* position: relative; */
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.841);
}
#logo_text{
    letter-spacing: 1px;
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.841);

}
.logo_container img{
    width: 60px;
    display: flex;
}

.header_items_container ul li{
    list-style: none;
}

.login_btn{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.841);
    font-weight: 400;
    transition: 0.02s;
    /* font-size: 18px; */
    display: flex;
}

.login_btn:hover{
    color: rgb(110,110,110);
}
.faUser{
    font-size: 25px;
    transition: 0.2s;
}
.user_info{
    display: flex;
    gap: 1rem;
}
.login_btn .faUser:hover{
    color: rgb(110,110,110);

}
.header_items_container input {
    border: 1px solid #ffffff30;
    display: flex;
    font-size: 1rem;
    padding: 10px 42px 10px 18px;
    border-radius: 20px;
    background-color: rgb(35,35,35);
    color: #aaaaaa;

}
.search_navlink{
    text-decoration: none;
}
.header_items_container input[type="text"]:focus-visible{
    /* outline: none; */
    color: #aaaaaa;
}

.header_links_container{
    /* position: relative; */
    display: flex;
    gap: 2rem;
    align-items: center;
}
.nesteddrop{
    position: absolute;
}
.subcription{
    display: flex;
    gap: 0.5rem;
    color: rgba(255, 255, 255, 0.841);
    cursor: pointer;
    font-weight: 400;
}
.subcription:hover{
    color: rgb(110,110,110);
}

.vertical_line{
    border: 1px solid gray;
    height: 31px;
}


.sidebar{
    height: 100vh;
    width: 100%;
    transition: 0.2s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.close_icon{
    position: absolute;
    top: 40px;
    right: 40px;
    color: #ffffffd1;
    cursor: pointer;
}




/* media queries */
@media (min-width: 420px) and (max-width: 1024px) {

    .banner_img_container img{
        /* padding: 0 20px; */
        width: 98%;
    }
}

@media (min-width: 420px) and (max-width: 767px) {
    .header{
        
        padding: 15px 0 15px 0;
       
    
    }
}   

@media(max-width: 600px) {
    .logo_container,.header_links_container, .second_nav{
        display: none;
    }
    .header_items_container{
        margin-bottom: 0;
    }
    .small_logo_container img {
        width: 60px;
    }
    .music-collection {
        padding-top: 3rem;
    }
}

@media screen and (min-width: 600px) {
    .small_logo_container,.Small-search_box, .hamburger_menu{
        display: none;
    }
    
}
/* media queries */