.header{
    width: 100%;
    background-color: rgb(27,27,27);
    max-width: 1920px;
    padding: 15px 0;

}

.header_items_container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center; 
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(110,110,110);
}
.logo_container img{
    width: 60px;
    display: flex;
}

.header_items_container ul li{
    list-style: none;
}

.login_btn{
    text-decoration: none;
    color: rgb(110,110,110);
    transition: 0.02s;
    font-size: 18px;
    display: flex;
}
.faUser{
    font-size: 25px;
    color: #fff9;
    transition: 0.2s;
}
.login_btn .faUser:hover{
    color: #fffffff0;
}
.header_items_container input {
    border: 1px solid #ffffff30;
    display: flex;
    font-size: 1rem;
    padding: 10px 42px 10px 18px;
    border-radius: 20px;
    background-color: rgb(35,35,35);
    color: #aaaaaa;

}

.header_items_container input[type="text"]:focus-visible{
    outline: none;
    color: #aaaaaa;
}

.header_links_container{
    position: relative;
}
.nesteddrop{
    position: absolute;
}