
.error_container {
    color: red;
    text-align: center;
    margin: 2rem 0;
}

@media (min-width: 420px) and (max-width: 600px) {
    .form_container {
        width: 100%;
    }
    .register_form form{
        width: 85%;
    }
}


