.search_container{
    /* height: 83vh; */
    padding: 3rem 0 3rem 0;
    background-color: rgb(12,15,18);
    color: #ffffffb0;
    /* display: grid;
    place-content: center; */
    text-align: center;
}
.song_container {
    display: flex;
    width: 60%;
    margin: auto;
    gap: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    align-items: center;
}

.song_container:hover {
    background-color: #80808008;
    border-radius: 0px 3px 3px 0;
}
.song_img img {
    width: 50px;
    display: flex;
}
